<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center mt-4">
            <img src="assets/imagenes/general/logo-gobierno-salta.png" alt="Image" height="120" class="mb-3">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--cyan-600) 10%, rgba(33, 150, 243, 0) 50%);">
            <form [formGroup]="formaLogin" autocomplete="off">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <!-- <img src="assets/layout/images/logo_spps.jpeg" alt="Image" height="50" class="mb-3"> -->
                        <div class="text-900 text-3xl font-medium mb-3">Bienvenido</div>
                        <span class="text-600 font-medium">Login para continuar</span>
                    </div>
                    <div class="w-full md:w-10 mx-auto">
                        <div>
                            <label for="dni" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                            <input id="dni" type="text" pInputText placeholder="DNI" formControlName="dni" class="w-full mb-3" style="padding:1rem;">
                            <!-- <small *ngIf="true" class="p-error">
                                <div *ngFor="let validation of user_validation_messages.usuario" >
                                    <div  *ngIf="loginForm.get('usuario')?.hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small> -->
                        </div>
                        <div class="mt-2">
                            <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                            <p-password id="password" formControlName="password" placeholder="Password" [toggleMask]="false" [feedback]="false" class="w-full mb-3"></p-password>
                            <!-- <small *ngIf="true" class="p-error">
                                <div *ngFor="let validation of user_validation_messages.clave" >
                                    <div  *ngIf="loginForm.get('clave')?.hasError(validation.type)">
                                        {{validation.message}}
                                    </div>
                                </div>
                            </small> -->
                        </div>
                        <!-- <div class="flex align-items-center justify-content-between mt-2">
                            <div class="flex align-items-center">
                                <p-checkbox id="rememberme1" [binary]="true" formControlName="recuerdame" styleClass="mr-2"></p-checkbox>
                                <label for="rememberme1">Recuerdame</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                        </div> -->
                        <div class="mt-4">
                            <button pButton pRipple type="button" label="LOGIN" class="p-button-outlined p-button-info w-full p-3 text-xl mr-2 mb-2" (click)="submitFormLogin()"></button>

                        </div>
                        <div class="mt-4">

                            <button pButton pRipple type="button" label="Registrarme" class="p-button p-button-success" (click)="irARegisrtarme()"></button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>