/* Estilo para forzar ancho completo en los inputs p-password */
.full-width-password ::ng-deep input {
  width: 100% !important;
}

/* Asegura que el botón ocupe el 47% con prioridad */
.btn-half {
  width: 47% !important;
}

/* En móviles (menos de 768px), que ocupen 100% uno debajo del otro */
@media screen and (max-width: 768px) {
  .btn-half {
    width: 100% !important;
    margin-bottom: 0.5rem;
  }
}

