<div class="grid justify-content-center">
    <div class="col-12">
        <div class="card p-fluid">
            <p-toolbar styleClass="mb-3 bg-cyan-500">
                <h5 class="block text-white  font-bold font-medium mb-1">Solicitud nueva</h5>
            </p-toolbar>
            <div class="bg-cyan-600">

            </div>

            <div class="p-formgrid grid">
                <!-- FORMULARIO TRAMITES -->
                <div class="col-12">
                    <form [formGroup]="formaTramite">
                        <!-- <div class="formgrid grid">
                            <div class="field col-6">
                                <label for="id_ciudadano">Ciudadano</label>
                                <p-dropdown id="id_ciudadano" [options]="listCiudadano" optionLabel="apellido" optionValue="id_ciudadano" formControlName="ciudadano_id" placeholder="Seleccionar...">
                                </p-dropdown>
                            </div>
                        </div> -->
                        <!-- CARD ASESORADO -->
                        <div class="card p-fluid">
                            <p-toolbar styleClass="mb-3 bg-orange-500">
                                <h5 class="block text-white  font-bold font-medium mb-1">Asesorado</h5>
                            </p-toolbar>
                            <div class="bg-cyan-600">

                            </div>
                            <div class="formgrid grid">
                                <div class="field col-4">
                                    <label for="id_opcion_sino">¿Está asesorado?</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="esta_asesorado" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <!-- FIN CARD ASESORADO-->
                        <!-- CARD MI DOMICILIO -->
                        <div class="card p-fluid">
                            <p-toolbar styleClass="mb-3 bg-orange-500">
                                <h5 class="block text-white  font-bold font-medium mb-1">Mi domicilio</h5>
                            </p-toolbar>
                            <div class="bg-cyan-600">

                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="departamento_id">Departamento</label>
                                    <p-dropdown id="departamento_id" [options]="listaDepartamentos" optionLabel="departamento" optionValue="id_departamento" formControlName="departamento_id" placeholder="Seleccionar..." (onChange)="onChangeDepartamento()">
                                    </p-dropdown>
                                </div>
                                <div class="field col">
                                    <label for="municipio_id">Municipio</label>
                                    <p-dropdown id="municipio_id" [options]="listaMunicipios" optionLabel="municipio" optionValue="id_municipio" formControlName="municipio_id" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="localidad_barrio">Barrio</label>
                                    <input type="text" pInputText id="localidad_barrio" formControlName="localidad_barrio" />
                                    <small *ngIf="isValid('localidad_barrio')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.localidad_barrio" >
                                        <div  *ngIf="formaTramite.get('localidad_barrio')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                                </div>
                                <div class="field col">
                                    <label for="calle_direccion">Calle/dirección</label>
                                    <input type="text" pInputText id="calle_direccion" formControlName="calle_direccion" />
                                    <small *ngIf="isValid('calle_direccion')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.calle_direccion" >
                                        <div  *ngIf="formaTramite.get('calle_direccion')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="numero_dom">Número</label>
                                    <input type="text" pInputText id="numero_dom" formControlName="numero_dom" />
                                    <small *ngIf="isValid('numero_dom')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.numero_dom" >
                                        <div  *ngIf="formaTramite.get('numero_dom')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                                </div>

                            </div>
                        </div>
                        <!-- FIN CARD MI DOMICIO -->

                        <!-- CARD CENTRO MEDICAION -->
                        <div class="card p-fluid">
                            <p-toolbar styleClass="mb-3 bg-orange-500">
                                <h5 class="block text-white  font-bold font-medium mb-1">Seleccionar centro de mediación</h5>
                            </p-toolbar>
                            <div class="bg-cyan-600">

                            </div>
                            <div class="formgrid grid">
                                <div class="field col-6">
                                    <label for="departamento_id_centro">Departamento</label>
                                    <p-dropdown id="departamento_id_centro" [options]="listaDepartamentos" optionLabel="departamento" optionValue="id_departamento" formControlName="departamento_id_centro" placeholder="Seleccionar..." (onChange)="onChangeDepartamentoParaCentros()">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="centro_mediacion_id">Centro Mediacion</label>
                                    <p-dropdown id="municipio_id" [options]="elementosCentroMediacion" optionLabel="value" optionValue="clave" formControlName="centro_mediacion_id" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                            </div>

                        </div>
                        <!-- FIN CARD CENTRO MEDICAION -->

                        <!-- CARD MOTIVOS -->
                        <div class="card p-fluid">
                            <p-toolbar styleClass="mb-3 bg-orange-500">
                                <h5 class="block text-white  font-bold font-medium mb-1">Motivos de la solicitud</h5>
                            </p-toolbar>
                            <div class="bg-cyan-600">

                            </div>
                            <div class="formgrid grid">
                                <div class="field col-6">
                                    <label for="objeto_id">Motivo de la mediación (según Ley 732, Art. 10)</label>
                                    <p-dropdown id="objeto_id" [options]="listObjetos" optionLabel="objeto" optionValue="id_objeto" formControlName="objeto_id" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="formgrid grid">
                                <div class="field col-6">
                                    <label for="id_opcion_sino">¿Existe violencia entre las partes?</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="violencia_partes">
                                    </p-dropdown>
                                </div>
                                <div class="field col-6">
                                    <label for="id_opcion_sino">¿Existe violencia de genero?</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="violencia_genero" (onChange)="onChangeViolenciaGenero()">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div *ngIf="existe_violencia_genero" class="formgrid grid">
                                <div class="col-12 mb-1">
                                    <label for="id_opcion_sino">En caso de violencia de egenero</label><br>
                                </div>
                                <div class="field col-6">
                                    <label for="id_opcion_sino">¿Existe denuncia?</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="existe_denuncia" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                                <div class="field col-6">
                                    <label for="id_opcion_sino">¿Existe una medida cautelar?</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="medida_cautelar" placeholder="Seleccionar...">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="formgrid grid">
                                <div class="field col-4">
                                    <label for="id_opcion_sino">pdf denuncia</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="pdf_denuncia">
                                    </p-dropdown>
                                </div>
                                <div class="field col-4">
                                    <label for="id_opcion_sino">pdf cautelar</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="pdf_cautelar">
                                    </p-dropdown>
                                </div>
                                <div class="field col-4">
                                    <label for="id_opcion_sino">pdf ingresos</label>
                                    <p-dropdown id="id_opcion_sino" [options]="listSiNo" optionLabel="respuesta_sino" optionValue="id_opcion_sino" formControlName="pdf_ingresos">
                                    </p-dropdown>
                                </div>

                            </div>
                        </div>
                        <!-- FIN CARD MOTIVOS -->

                        <!-- CARD CONVOCADOS -->
                        <div class="card p-fluid">
                            <p-toolbar styleClass="mb-3 bg-orange-500">
                                <h5 class="block text-white  font-bold font-medium mb-1">Ingresar Convocados</h5>
                            </p-toolbar>
                            <div class="bg-cyan-600">

                            </div>
                        </div>
                        <!-- FIN CARD CONVOCADOS -->
                    </form>
                </div>
                <!--  FIN FORMULARIO TRAMITES -->
                <div class="col-12">
                    <button pButton pRipple type="button" label="Guardar" class="p-button-success mr-2 mb-2" (click)="submitFormTramite()"></button>
                </div>
            </div>
        </div>

    </div>
</div>