/* styles.css o component.scss */
.table-col-min {
  min-width: 10rem;
}

.table-col-id {
  min-width: 8rem;
}

.table-col-email {
  min-width: 5rem;
}

.dialog-width {
  width: 600px !important;
}

.text-label {
  font-weight: 500;
  font-size: 1.125rem; /* text-xl */
}

.p-error {
  margin-top: 0.25rem;
  display: block;
}
