<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0 min-w-80">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/imagenes/general/logo-mediacion-2.png" alt="Mediacion logo" class="mb-5">
        </div>
        <div class="col-12 xl:col-6 rounded-56 p-03 bg-blue-gradient">
            <div class="flex justify-content-center h-full w-full m-0 py-7 px-4 rounded-53 bg-surface-gradient">
                <div class="grid flex-column align-items-center">
                    <span class="text-blue-500 font-bold text-3xl">404</span>
                    <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not found</h1>
                    <span class="text-600">El recurso solicitado no está disponible.</span>
                </div>
                
            </div>
            <a href="javascript:history.back()" class="p-button p-button-text p-button-sm text-blue-500">
                <i class="pi pi-arrow-left mr-2"></i> Volver atrás atras
            </a>
        </div>
    </div>
</div>