<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <p-toolbar styleClass="mb-3 bg-cyan-500 ">
                <h5 class="block text-white font-bold font-medium mb-1 ">
                    Ciudadano: {{(dataCiudadano != null)?dataCiudadano.apellido + " " + dataCiudadano.nombre : "Sin ciudadano"}}
                </h5>
            </p-toolbar>
            <p-tabView styleClass="mt-2">
                <p-tabPanel header="Datos Personales" leftIcon="pi pi-id-card">
                    
                <div class="grid justify-content-center">
                    <div class="col-12">                        

                        <div class="p-formgrid grid">                
                            <!-- FORMULARIO CIUDADANO -->
                            <div class="col-12">  
                                <form [formGroup]="formaCiudadano">
                                    <!-- CARD DATOS PERSONALES-->
                                    <div class="card p-fluid">

                                        <h5 class="block font-bold font-medium mb-2">Datos de personales</h5>
                                        
                                        <div class="formgrid grid">
                                            <div class="field col-12 md:col-6 lg:col-6">
                                                <label for="dni">DNI</label>
                                                <input type="text" pInputText id="dni" formControlName="dni" readonly />
                                                
                                            </div>
                                        </div>

                                        <div class="formgrid grid">
                                            <div class="field col-12 md:col-6 lg:col-6">
                                                <label for="apellido">Apellido</label>
                                                <input type="text" pInputText id="apellido" formControlName="apellido" readonly />
                                                
                                            </div>
                                            <div class="field col-12 md:col-6 lg:col-6">
                                                <label for="nombre">Nombre</label>
                                                <input type="text" pInputText id="nombre" formControlName="nombre" readonly />
                                                
                                            </div>
                                        </div>
                
                                        <div class="formgrid grid">
                                            <div class="field col-12 md:col-6 lg:col-6">
                                                <label for="sexo_id">Sexo</label>
                                                <input type="text" pInputText id="nombre" formControlName="sexo" readonly />                                                
                                            </div>
                                            <div class="field col-12 md:col-6 lg:col-6">
                                                <label for="fecha_nac">Fecha Nacimiento</label>
                                                <input type="text" pInputText id="nombre" formControlName="fecha_nac" readonly />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- FIN CARD DATOS PERSONALES -->

                                    <!-- CARD DATOS DE CONTACTO -->
                                    <div  class="card p-fluid">
                                        <h5 class="block font-bold font-medium mb-2">Datos de contacto</h5>

                                        <div class="formgrid grid">
                                            <div class="field col">
                                                <label for="telefono">Teléfono</label>
                                                <input type="text" pInputText id="telefono" formControlName="telefono" readonly />
                                                
                                            </div>
                                        </div>
                                        <div class="formgrid grid">

                                        <div class="field col">
                                            <label for="email">Correo electrónico</label>
                                            <input type="text" pInputText id="email" formControlName="email" readonly />
                                            
                                        </div>
                                        </div>
                                        
                                    </div>
                                    <!-- FIN CARD CENTRO MEDICAION -->
                                </form>
                            </div>
                            <!--  FIN FORMULARIO CIUDADANO -->
                            
                        </div>

                    </div>
                </div>


                </p-tabPanel>

                <!-- PANEL TRAMITES -->
                <p-tabPanel header="Tramites" leftIcon="pi pi-fw pi-clone">
                    <!-- TABLA DE TRAMITES -->
                    <p-table #dt1 [value]="listTramites" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true"  responsiveLayout="scroll">
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Nº Tramite                                        
                                    </div>
                                </th>                                
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        DNI solicitante
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Objeto
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha tramite
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Expediente
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha expediente
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Centro Mediacion
                                    </div>
                                </th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tramite>
                            <tr>
                                <td>
                                    <button *ngIf="tramite.estado_tramite_id==1 && isAdmin()" pButton pRipple type="button" icon="pi pi-folder-open text-purple-100" class="p-button-secondary p-button-rounded bg-purple-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                                    <button *ngIf="tramite.estado_tramite_id==2 && isAdmin()" pButton pRipple type="button" icon="pi pi-folder-open text-orange-100" class="p-button-secondary p-button-rounded bg-orange-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                                    <button *ngIf="tramite.estado_tramite_id==3 && isAdmin()" pButton pRipple type="button" icon="pi pi-folder-open text-bluegray-100" class="p-button-secondary p-button-rounded bg-bluegray-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                                    <div *ngIf="tramite.estado_tramite_id==1 && !isAdmin()" class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                        <i class="pi pi-fw pi-bookmark text-purple-500 text-xl"></i>
                                    </div>
                                    <div *ngIf="tramite.estado_tramite_id==2 && !isAdmin()" class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                        <i class="pi pi-fw pi-send  text-orange-500 text-xl"></i>
                                    </div>  
                                    <div *ngIf="tramite.estado_tramite_id==3 && !isAdmin()" class="flex align-items-center justify-content-center bg-bluegray-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                        <i class="pi pi-fw pi-check-square  text-bluegray-500 text-xl"></i>
                                    </div>               
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramite.numero_tramite}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramite.ciudadano.dni}}
                                </td>
                                <td style="min-width: 20rem;">
                                    {{tramite.objeto.objeto}}
                                </td>
                                <td style="min-width: 5rem;">
                                    {{tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                                </td>
                                <td style="min-width: 12rem;">
                                    {{tramite.expediente}}
                                </td>
                                <td style="min-width: 5rem;">
                                    {{tramite.fecha_expediente| date: 'dd/MM/yyyy'}}
                                </td>
                                <td style="min-width: 15rem;">
                                    {{tramite.centro_mediacion.centro_mediacion}}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontraron tramites asignados.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando tramites... .</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- FIN TABLA DE TRAMITES -->
                </p-tabPanel>

                <p-tabPanel header="Tramites Finalizados" leftIcon="pi pi-check-square">
                    Content 3
                </p-tabPanel>
            </p-tabView>
        </div>

    </div>
</div>