<div class="layout-topbar">
    <a class="layout-topbar-logo" (click)="irAPrincipal()">
        <!-- <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo"> -->
        <!-- <span>MEDIACION</span> -->
        <img src="assets/imagenes/general/logo-mediacion-2.png" alt="Image" height="100" >
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        
        <button pButton pRipple type="button" label="Cerrar sesion" class="p-button-outlined p-button-danger mr-2 mb-2" (click)="cerrarSesion()"></button>
        

    </div>
</div>