
<div class="grid mt-1 justify-content-center">
    <div class="col-10 sm:col-8 lg:col-7 xl:col-6">
        <div class="card p-fluid">
            <h5>Registrarme</h5>
            <div class="p-formgrid grid">
                <div class="col-12">
                    <!-- FORMULARIO REGISTRO -->
                    <form [formGroup]="formaCiudadano">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6 lg:col-6">
                                <label for="apellido">Apellido</label>
                                <input type="text" pInputText id="apellido" formControlName="apellido" />
                                <!-- <small *ngIf="isValid('apellido')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.apellido" >
                                        <div  *ngIf="formaRegistro.get('apellido')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small> -->
                            </div>
                            <div class="field col-12 md:col-6 lg:col-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" pInputText id="nombre" formControlName="nombre" />
                                <!-- <small *ngIf="isValid('nombre')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.nombre" >
                                        <div  *ngIf="formaRegistro.get('nombre')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small> -->
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-12 md:col-6 lg:col-6">
                                <label for="sexo_id">Sexo</label>
                                <p-dropdown id="sexo_id" [options]="listaSexo" optionLabel="sexo" optionValue="id_sexo" formControlName="sexo_id" placeholder="Seleccionar...">
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-6 lg:col-6">
                                <label for="fecha_nac">Fecha Nacimiento</label>
                                <p-calendar p-inputtext formControlName="fecha_nac" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar>

                            </div>
                        </div>


                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="telefono">Teléfono</label>
                                <input type="text" pInputText id="telefono" formControlName="telefono" />
                                <!-- <small *ngIf="isValid('telefono')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.telefono" >
                                        <div  *ngIf="formaRegistro.get('telefono')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small> -->
                            </div>
                        </div>
                        <div class="formgrid grid">

                            <div class="field col">
                                <label for="email">Correo electrónico</label>
                                <input type="text" pInputText id="email" formControlName="email" />
                                <!-- <small *ngIf="isValid('email')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.email" >
                                        <div  *ngIf="formaRegistro.get('email')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small> -->
                            </div>
                        </div>
                        <div class="formgrid grid">

                            <div class="field col-12 md:col-6 lg:col-6">
                                <label for="dni">DNI usuario</label>
                                <input type="text" pInputText id="dni" formControlName="dni" />
                                <!-- <small *ngIf="isValid('dni')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.dni" >
                                        <div  *ngIf="formaRegistro.get('dni')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small> -->
                            </div>
                        </div>

                        
                    </form>
                    <!--  FIN FORMULARIO REGISTRO -->
                </div>
                <div class="col-12">
                    <button pButton pRipple type="button" label="Guardar" class="p-button-success mr-2" (click)="submitFormCiudadano()"></button>
                </div>
                <div class="col-12 grid justify-content-center">
                    <div class="col-6">
                        <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mt-2 "></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
