<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="card">
            <p-toolbar styleClass="mb-3 bg-cyan-500 ">
                <h5 class="block text-white font-bold font-medium mb-1 ">
                    Usuario: {{(dataUsuario != null)?dataUsuario.apellido + " " + dataUsuario.nombre : "Sin usuario"}}
                </h5>
            </p-toolbar>
            <p-tabView styleClass="mt-2">
                <p-tabPanel header="Datos Personales" leftIcon="pi pi-id-card">
                    <div class="grid justify-content-center">
                        <div class="col-12">                        

                            <div class="p-formgrid grid">                
                                <!-- FORMULARIO USUARIO -->
                                <div class="col-12">  
                                    <form [formGroup]="formaUsuario">
                                        <!-- CARD DATOS PERSONALES-->
                                        <div class="card p-fluid">

                                            <h5 class="block font-bold font-medium mb-2">Datos de personales</h5>
                                            
                                            <div class="formgrid grid">

                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="dni">DNI usuario</label>
                                                    <input type="text" pInputText id="dni" formControlName="dni" />
                                                    <small *ngIf="isValid('dni')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.dni" >
                                                            <div  *ngIf="formaUsuario.get('dni')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="apellido">Apellido</label>
                                                    <input type="text" pInputText id="apellido" formControlName="apellido" />
                                                    <small *ngIf="isValid('apellido')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.apellido" >
                                                            <div  *ngIf="formaUsuario.get('apellido')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" pInputText id="nombre" formControlName="nombre" />
                                                    <small *ngIf="isValid('nombre')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.nombre" >
                                                            <div  *ngIf="formaUsuario.get('nombre')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                    
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="sexo_id">Sexo</label>
                                                    <p-dropdown id="sexo_id" [options]="listaSexo" optionLabel="sexo" optionValue="id_sexo" formControlName="sexo_id" placeholder="Seleccionar...">
                                                    </p-dropdown>
                                                </div>                                
                                            </div>
                                            
                                        </div>
                                        <!-- FIN CARD DATOS PERSONALES -->

                                        <!-- CARD DATOS DE CONTACTO -->
                                        <div  class="card p-fluid">
                                            <h5 class="block font-bold font-medium mb-2">Datos de contacto</h5>
                                            
                                            <div class="formgrid grid">
                                                <div class="field col">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="text" pInputText id="telefono" formControlName="telefono" />
                                                    <small *ngIf="isValid('telefono')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.telefono" >
                                                            <div  *ngIf="formaUsuario.get('telefono')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="formgrid grid">
                
                                                <div class="field col">
                                                    <label for="email">Correo electrónico</label>
                                                    <input type="text" pInputText id="email" formControlName="email" />
                                                    <small *ngIf="isValid('email')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.email" >
                                                            <div  *ngIf="formaUsuario.get('email')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>    
                                            
                                        </div>
                                        <!-- FIN CARD CENTRO MEDICAION -->
                                    </form>
                                </div>
                                <!--  FIN FORMULARIO CIUDADANO -->
                                <div  class="col-12 grid justify-content-center">
                                    <button pButton pRipple type="button" label="Guardar" class="p-button-success" style="width: 47%;" (click)="submitFormUsuario()" ></button>
                                    <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger ml-2" style="width: 47%;" (click)="cancelarModificacionUsuario()"></button>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </p-tabPanel>
                <p-tabPanel header="Datos de cuenta" leftIcon="pi pi-id-card">
                    <div class="grid justify-content-center">
                        <div class="col-12">                        

                            <div class="p-formgrid grid">                
                                <!-- FORMULARIO USUARIO -->
                                <div class="col-12">  
                                    <form [formGroup]="formaUsuario">
                                        <!-- CARD DATOS PERSONALES-->
                                        <div class="card p-fluid">

                                            <h5 class="block font-bold font-medium mb-2">Rol de usuario</h5>
                                            
                                            <div class="formgrid grid">

                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="dni">DNI usuario</label>
                                                    <input type="text" pInputText id="dni" formControlName="dni" />
                                                    <small *ngIf="isValid('dni')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.dni" >
                                                            <div  *ngIf="formaUsuario.get('dni')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="apellido">Apellido</label>
                                                    <input type="text" pInputText id="apellido" formControlName="apellido" />
                                                    <small *ngIf="isValid('apellido')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.apellido" >
                                                            <div  *ngIf="formaUsuario.get('apellido')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="nombre">Nombre</label>
                                                    <input type="text" pInputText id="nombre" formControlName="nombre" />
                                                    <small *ngIf="isValid('nombre')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.nombre" >
                                                            <div  *ngIf="formaUsuario.get('nombre')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                    
                                            <div class="formgrid grid">
                                                <div class="field col-12 md:col-6 lg:col-6">
                                                    <label for="sexo_id">Sexo</label>
                                                    <p-dropdown id="sexo_id" [options]="listaSexo" optionLabel="sexo" optionValue="id_sexo" formControlName="sexo_id" placeholder="Seleccionar...">
                                                    </p-dropdown>
                                                </div>                                
                                            </div>
                                            
                                        </div>
                                        <!-- FIN CARD DATOS PERSONALES -->

                                        <!-- CARD DATOS DE CONTACTO -->
                                        <div  class="card p-fluid">
                                            <h5 class="block font-bold font-medium mb-2">Datos de contacto</h5>
                                            
                                            <div class="formgrid grid">
                                                <div class="field col">
                                                    <label for="telefono">Teléfono</label>
                                                    <input type="text" pInputText id="telefono" formControlName="telefono" />
                                                    <small *ngIf="isValid('telefono')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.telefono" >
                                                            <div  *ngIf="formaUsuario.get('telefono')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="formgrid grid">
                
                                                <div class="field col">
                                                    <label for="email">Correo electrónico</label>
                                                    <input type="text" pInputText id="email" formControlName="email" />
                                                    <small *ngIf="isValid('email')" class="p-error">
                                                        <div *ngFor="let validation of user_validation_messages.email" >
                                                            <div  *ngIf="formaUsuario.get('email')?.hasError(validation.type)">
                                                                {{validation.message}}
                                                            </div>
                                                        </div>
                                                    </small>
                                                </div>
                                            </div>    
                                            
                                        </div>
                                        <!-- FIN CARD CENTRO MEDICAION -->
                                    </form>
                                </div>
                                <!--  FIN FORMULARIO CIUDADANO -->
                                <div  class="col-12 grid justify-content-center">
                                    <button pButton pRipple type="button" label="Guardar" class="p-button-success" style="width: 47%;" (click)="submitFormUsuario()" ></button>
                                    <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger ml-2" style="width: 47%;" (click)="cancelarModificacionUsuario()"></button>
                                    
                                </div>
                            </div>

                        </div>
                    </div>

                </p-tabPanel>
                <p-tabPanel header="Tramites Asignados" leftIcon="pi pi-send">
                    <!-- TABLA DE TRAMITES ASIGNADOS-->
                    <p-table #dt1 [value]="listTramitesAsignados" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['tramite.numero_tramite', 'tramite.expediente' ,'tramite.ciudadano.apellido','tramite.ciudadano.nombre','tramite.ciudadano.dni']"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between flex-column sm:flex-row">

                                <div>
                                    <button pButton label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-1" (click)="clear(dt1)"></button>
                                    <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                            </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Nº Tramite
                                        <p-columnFilter type="text" field="tramite.numero_tramite" display="menu" placeholder="Buscar por tramite"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Apellido
                                        <p-columnFilter type="text" field="tramite.ciudadano.apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Nombre
                                        <p-columnFilter type="text" field="tramite.ciudadano.nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        DNI solicitante
                                        <p-columnFilter type="text" field="tramite.ciudadano.dni" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Objeto
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha tramite
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Expediente
                                        <p-columnFilter type="text" field="tramite.expediente" display="menu" placeholder="Buscar por descripción"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha expediente
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tramiteAsignado>
                            <tr>
                                <td>
                                    <button *ngIf="tramiteAsignado.tramite.estado_tramite_id==2" pButton pRipple type="button" icon="pi pi-folder-open text-orange-100" class="p-button-secondary p-button-rounded bg-orange-500 mr-1 mb-1" (click)="administrarTramite(tramiteAsignado.tramite)"></button>
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteAsignado.tramite.numero_tramite}}
                                </td>

                                <td style="min-width: 15rem;">
                                    {{tramiteAsignado.tramite.ciudadano.apellido}}
                                </td>
                                <td style="min-width: 15rem;">
                                    {{tramiteAsignado.tramite.ciudadano.nombre}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteAsignado.tramite.ciudadano.dni}}
                                </td>
                                <td style="min-width: 15rem;">
                                    {{tramiteAsignado.tramite.objeto.objeto}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteAsignado.tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteAsignado.tramite.expediente}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteAsignado.tramite.fecha_expediente| date: 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontraron tramites asignados.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando tramites... .</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- FIN TABLA DE TRAMITES ASIGNADOS-->
                </p-tabPanel>
                <p-tabPanel header="Tramites Finalizados" leftIcon="pi pi-check-square">
                    <!-- TABLA DE TRAMITES FINALIZADOS-->
                    <p-table #dt2 [value]="listTramitesfinalizados" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['tramite.numero_tramite', 'tramite.expediente' ,'tramite.ciudadano.apellido','tramite.ciudadano.nombre','tramite.ciudadano.dni']"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div>
                                <div class="p-formgrid grid">                
                                    <!-- FORMULARIO BUSCAR -->
                                    <div class="col-12">  
                                        <form [formGroup]="formaBusqueda">
                                            <!-- CARD DATOS BUSCAR-->
                                            <div class="card p-fluid">
                                                        
                                                <div class="formgrid grid">
                                                    <div class="field col-6 md:col-4 lg:col-4">
                                                        <label for="anio">Año</label>
                                                        <p-dropdown id="anio" [options]="listaAniosDropdown" optionLabel="label" optionValue="value" formControlName="anio" placeholder="Seleccinar...">
                                                        </p-dropdown>
                                                    </div>  

                                                    <div class="field col-6 md:col-4 lg:col-4">
                                                        <button pButton pRipple type="button" label="Buscar año" class="p-button-primary mt-4" (click)="buscarFinalizadosXAnio()" ></button>
                                                        
                                                    </div>  

                                                    <div class="field col-6 md:col-4 lg:col-4">                                                        
                                                        <button pButton pRipple type="button" label="Buscar todos" class="p-button-prymary mt-4" (click)="listarTramitesUsuarioFinalizados()"></button>
                                                    </div> 

                                                </div>
                                                
                                            </div>
                                            <!-- FIN CARD DATOS BUSCAR -->        
                                            
                                        </form>
                                    </div>
                                    <!--  FIN FORMULARIO BUSCAR -->
                                    
                                </div>
                            </div>
                            <div class="flex justify-content-between flex-column sm:flex-row">
                                
                                <div>
                                    <button pButton label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-1" (click)="clear(dt2)"></button>
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" #filter (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Nº Tramite
                                        <p-columnFilter type="text" field="tramite.numero_tramite" display="menu" placeholder="Buscar por tramite"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Apellido
                                        <p-columnFilter type="text" field="tramite.ciudadano.apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Nombre
                                        <p-columnFilter type="text" field="tramite.ciudadano.nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        DNI solicitante
                                        <p-columnFilter type="text" field="tramite.ciudadano.dni" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Objeto
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha tramite
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Expediente
                                        <p-columnFilter type="text" field="tramite.expediente" display="menu" placeholder="Buscar por descripción"></p-columnFilter>
        
                                    </div>
                                </th>
                                <th>
                                    <div class="flex justify-content-between align-items-center">
                                        Fecha expediente
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tramiteFinalizado>
                            <tr>
                                <td>
                                    <button *ngIf="tramiteFinalizado.tramite.estado_tramite_id==3" pButton pRipple type="button" icon="pi pi-folder-open" class="p-button-secondary p-button-rounded mr-1 mb-1" (click)="administrarTramite(tramiteFinalizado.tramite)"></button>
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteFinalizado.tramite.numero_tramite}}
                                </td>

                                <td style="min-width: 15rem;">
                                    {{tramiteFinalizado.tramite.ciudadano.apellido}}
                                </td>
                                <td style="min-width: 15rem;">
                                    {{tramiteFinalizado.tramite.ciudadano.nombre}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteFinalizado.tramite.ciudadano.dni}}
                                </td>
                                <td style="min-width: 15rem;">
                                    {{tramiteFinalizado.tramite.objeto.objeto}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteFinalizado.tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteFinalizado.tramite.expediente}}
                                </td>
                                <td style="min-width: 10rem;">
                                    {{tramiteFinalizado.tramite.fecha_expediente| date: 'dd/MM/yyyy'}}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No se encontraron tramites finalizados.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="loadingbody">
                            <tr>
                                <td colspan="8">Cargando tramites... .</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- FIN TABLA DE TRAMITES FINALIZADOS-->
                </p-tabPanel>
            </p-tabView>
        </div>

    </div>
</div>