<div class="card p-fluid">
    <p-toolbar styleClass="mb-3 bg-cyan-500">
        <h5 class="block text-white font-bold font-medium mb-1 ">
            Centro de Mediacion
        </h5>
    </p-toolbar>

    <div class="col-12 border-bottom-1 surface-border mt-4">
        <div class="grid">
            <div class="col-12 lg:col-4 xl:col-4">
                <span class="text font-medium text-1xl">Id Centro de Mediacion:<span class="text ml-2 font-medium"> {{dataCentroMediacion.id_centro_mediacion}} </span></span>
            </div>
            <div class="col-12 lg:col-8 xl:col-8 py-2">
                <span class="text font-medium text-1xl">Centro de Mediacion:<span class="text ml-1 font-medium"> {{dataCentroMediacion.centro_mediacion}}</span></span>
            </div>
        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6 py-2">
                <span class="text font-medium text-1xl">Dirección:<span class="text ml-1 font-medium"> {{dataCentroMediacion.calle_direccion}} N° {{dataCentroMediacion.numero_dom}}</span></span>
            </div>
            <div class="col-12 lg:col-3 xl:col-3 py-2">
                <span class="text font-medium text-1xl">Barrio:<span class="text ml-1 font-medium"> {{dataCentroMediacion.localidad_barrio}}</span></span>
            </div>

        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6 py-2">
                <span class="text font-medium text-1xl">Municipio:<span class="text ml-1 font-medium"> {{dataCentroMediacion.municipio.municipio}}</span></span>
            </div>
            <div class="col-12 lg:col-6 xl:col-6">
                <span class="text font-medium text-1xl">Departamento:<span class="text ml-1 font-medium"> {{dataCentroMediacion.departamento.departamento}}</span></span>
            </div>
        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6">
                <span class="text font-medium text-1xl">E-mail:<span class="text ml-1 font-medium"> {{dataCentroMediacion.email}}</span></span>
            </div>
            <div class="col-12 lg:col-4 xl:col-4">
                <span class="text font-medium text-1xl">Telefono:<span class="text ml-1 font-medium"> {{dataCentroMediacion.telefono}}</span></span>
            </div>

        </div>
    </div>
</div>
<!-- FIN Card Datos Principales -->

<!-- Card Usuarios -->

<div class="card p-fluid mb-0 mt-2">
    <p-toolbar styleClass="mb-3 bg-cyan-500">
        <h5 class="block text-white font-bold font-medium mb-1 ">
            Usuarios Asignados
        </h5>
    </p-toolbar>

    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6">
                <span class="text font-bold font-medium text-1xl">Mediador Actual:<span class="text ml-2 font-medium"> PEDRO </span></span>
            </div>

        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">


    </div>
</div>

<!-- FIN Card Usuarios -->