.ui-dropdown-panel .ui-dropdown-items-wrapper {
    max-height: 200px; /* ajustar según sea necesario */
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .ui-dropdown-panel .ui-dropdown-items {
    overflow-x: auto;
  }
  
  
  
  
  
  