<!-- Card Tramite -->
<div class="card mb-0 ">
    <p-toolbar styleClass="mb-3 bg-cyan-500">
        <h5 class="block text-white font-bold font-medium mb-1 ">
            Datos del Tramite
        </h5>
    </p-toolbar>

    <div class="col-12 border-bottom-1 surface-border mt-4">
        <div class="grid">
            <div class="col-12 lg:col-3 xl:col-3">
                <span class="text font-medium text-1xl">Tramite N°:<span class="text ml-2 font-medium"> {{dataTramite.numero_tramite}} </span></span>
            </div>
            <div class="col-12 lg:col-3 xl:col-3 py-2">
                <span class="text font-medium text-1xl">Fecha inicia:<span class="text ml-1 font-medium"> {{dataTramite.fecha_tramite| date: 'dd/MM/yyyy'}}</span></span>
            </div>
            <div class="col-12 lg:col-3 xl:col-3 py-2">
                <span class="text font-medium text-1xl">N° expediente:<span class="text ml-1 font-medium"> {{dataTramite.expediente}}</span></span>
            </div>
            <div class="col-12 lg:col-3 xl:col-3 py-2">
                <span class="text font-medium text-1xl">Fecha exp.:<span class="text ml-1 font-medium"> {{dataTramite.fecha_expediente| date: 'dd/MM/yyyy'}}</span></span>
            </div>

        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-4 xl:col-4">
                <span class="text font-medium text-1xl">Solicitante:<span class="text ml-1 font-medium"> {{dataTramite.ciudadano?.apellido}} {{dataTramite.ciudadano?.nombre}}</span></span>
            </div>
            <div class="col-12 lg:col-4 xl:col-4">
                <span class="text font-medium text-1xl">DNI:<span class="text ml-1 font-medium"> {{dataTramite.ciudadano?.dni}}</span></span>
            </div>

        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12 lg:col-6 xl:col-6 py-2">
                <span class="text font-medium text-1xl">Motivo de la solicitud:<span class="text ml-1 font-medium"> {{dataTramite.objeto?.objeto}}</span></span>
            </div>

        </div>
    </div>
    <div class="col-12 border-bottom-1 surface-border">
        <div class="grid">
            <div class="col-12">
                <span class="text font-medium text-1xl">Centro de Mediación:<span class="text ml-1 font-medium"> {{dataTramite.centro_mediacion?.centro_mediacion}}</span></span>
            </div>
            <div class="col-12 lg:col-6 xl:col-6">
                <span class="text font-medium text-1xl">Departamento:<span class="text ml-1 font-medium"> {{dataTramite.centro_mediacion?.departamento.departamento}} </span></span>
            </div>
            <div class="col-12 lg:col-6 xl:col-6">
                <span class="text font-medium text-1xl">Municipio:<span class="text ml-1 font-medium"> {{dataTramite.centro_mediacion?.municipio.municipio}} </span></span>
            </div>
            <div class="col-12">
                <span class="text font-medium text-1xl">Dirección:<span class="text ml-1 font-medium"> Barrio: {{dataTramite.centro_mediacion?.localidad_barrio}} - Calle/Dirección: {{dataTramite.centro_mediacion?.calle_direccion}} - Número: {{dataTramite.centro_mediacion?.numero_dom}}</span></span>
            </div>

        </div>
    </div>

</div>
<!-- FIN Card Tramite -->

<!-- CARD GENERAR AUDIENCIA -->
<div class="card p-fluid mb-0 mt-2">
    <p-toolbar styleClass="mb-3 bg-cyan-500">
        <h5 class="block text-white font-bold font-medium mb-1 ">
            Audiencia
        </h5>
    </p-toolbar>

    <div class="col-12 border-bottom-1 surface-border">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="Generar Audiencia" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialogUsuarioTramite()"></button>
                </div>
            </ng-template>

        </p-toolbar>

        <!-- CARD NUEVA -->
        <div class="card p-fluid">
            <p-toolbar styleClass="mb-3 bg-orange-500">
                <h5 class="block text-white  font-bold font-medium mb-1">Nueva audiencia</h5>
            </p-toolbar>
            <div class="bg-cyan-600">

            </div>

            <!-- FORMULARIO AUDIENCIA-->
            <div class="p-formgrid grid">
                <div class="col-12">
                    <form [formGroup]="formaAudiencia">
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="departamento_id_centro">Departamento</label>
                                <p-dropdown id="departamento_id_centro" [options]="listDepartamentos" optionLabel="departamento" optionValue="id_departamento" formControlName="departamento_id_centro" placeholder="Seleccionar..." (onChange)="onChangeDepartamentoParaAudiencia()">
                                </p-dropdown>
                                <small *ngIf="isValid('departamento_id_centro')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.departamento_id_centro" >
                                        <div  *ngIf="formaAudiencia.get('departamento_id_centro')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <!-- <div class="field col-12">
                                <label for="centro_mediacion_id">Centro Mediacion</label>
                                <p-dropdown id="centro_mediacion_id" [options]="elementosCentroMediacion" optionLabel="value" optionValue="clave" formControlName="centro_mediacion_id" placeholder="Seleccionar..." (onChange)="onChangeCentroMediacion()">
                                </p-dropdown>
                                <small *ngIf="isValid('centro_mediacion_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.centro_mediacion_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('centro_mediacion_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div> -->
                            <div class="field col-12">
                                <label for="centro_mediacion_id">Centro Mediación</label>
                                <p-listbox [options]="elementosCentroMediacion" optionLabel="value" optionValue="clave" formControlName="centro_mediacion_id" styleClass="listbox1" [listStyle]="{'max-height':'250px'}" (onChange)="onChangeCentroMediacion()"></p-listbox>
                                <small *ngIf="isValid('centro_mediacion_id')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.centro_mediacion_id" >
                                        <div  *ngIf="formaAudiencia.get('centro_mediacion_id')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="usuario_id" class="text font-medium">Seleccionar un usuario</label>
                                <p-dropdown id="usuario_id" [options]="elementosUsuariosCentro" optionLabel="value" optionValue="clave" formControlName="usuario_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('usuario_id')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.usuario_id" >
                                        <div  *ngIf="formaAudiencia.get('usuario_id')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="funcion_tramite_id" class="text font-medium">Funcion en el tramite</label>
                                <p-dropdown id="funcion_tramite_id" [options]="listFuncionTramite" optionLabel="funcion_tramite" optionValue="id_funcion_tramite" formControlName="funcion_tramite_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('funcion_tramite_id')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.funcion_tramite_id" >
                                        <div  *ngIf="formaAudiencia.get('funcion_tramite_id')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="detalles" class="text font-medium">Detalles</label>
                                <input type="text" pInputText id="detalles" formControlName="detalles" />
                                <small *ngIf="isValid('detalles')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.detalles" >
                                        <div  *ngIf="formaAudiencia.get('detalles')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- FORMULARIO AUDIENCIA-->
        </div>
        <!-- FIN CARD NUEVA-->

        <!-- TABLA DE AUDIENCIA -->
        <p-table #dt1 [value]="listUsuariosTramite" [rows]="10" [loading]="loadingUsuariosTramite" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['usuario.dni','usuario.apellido','usuario.nombre','usuario.telefono','objeto.objeto','expediente']"
            responsiveLayout="scroll">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            DNI
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Apellido - Nombre
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Sexo
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Fecha Asing
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Funcion
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Detalles
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Activo
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuariotramite>
                <tr>
                    <td>
                        <button type="button" pButton pRipple class="p-button-danger p-button-rounded mr-2 mb-2" icon="pi pi-times" (click)="confirmarDeshabilitarUsuario(usuariotramite)"></button>
                    </td>
                    <td style="min-width: 8rem;">
                        {{usuariotramite.usuario.dni}}
                    </td>
                    <td style="min-width: 20rem;">
                        {{usuariotramite.usuario.apellido}} {{usuariotramite.usuario.nombre}}
                    </td>
                    <td style="min-width: 7rem;">
                        {{usuariotramite.usuario.sexo.sexo}}
                    </td>
                    <td style="min-width: 10rem;">
                        {{usuariotramite.fecha_asignacion | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="min-width: 7rem;">
                        {{usuariotramite.funcion_tramite.funcion_tramite}}
                    </td>
                    <td style="min-width: 15rem;">
                        {{usuariotramite.detalles}}
                    </td>
                    <td style="min-width: 5rem;">
                        {{usuariotramite.activo}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontraron audiencias para este tramite.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando usuarios... .</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- FIN TABLA DE AUDIENCIA -->
    </div>

    <!-- DIALOG FORMULARIO USUARIOS -->
    <!-- <p-dialog id="usuarioTramiteDialog" [(visible)]="usuarioTramiteDialog" [style]="{width: '500px'}" header="Asignar Usuario" [closable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}"></p-dialog> -->

    <p-dialog id="usuarioTramiteDialog" [(visible)]="usuarioTramiteDialog" [style]="{width: '500px'}" header="Asignar Usuario" [closable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}">
        <!-- MENSAJE DE ERROR -->
        <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
        <ng-template pTemplate="content">
            <div class="p-formgrid grid">
                <!-- FORMULARIO TRAMITES -->
                <div class="col-12">
                    <form [formGroup]="formaMediadorAsignado">
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="departamento_id_centro">Departamento</label>
                                <p-dropdown id="departamento_id_centro" [options]="listDepartamentos" optionLabel="departamento" optionValue="id_departamento" formControlName="departamento_id_centro" placeholder="Seleccionar..." (onChange)="onChangeDepartamentoParaCentros()">
                                </p-dropdown>
                                <small *ngIf="isValid('departamento_id_centro')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.departamento_id_centro" >
                                            <div  *ngIf="formaMediadorAsignado.get('departamento_id_centro')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="centro_mediacion_id">Centro Mediacion</label>
                                <p-dropdown id="centro_mediacion_id" [options]="elementosCentroMediacion" optionLabel="value" optionValue="clave" formControlName="centro_mediacion_id" placeholder="Seleccionar..." (onChange)="onChangeCentroMediacion()">
                                </p-dropdown>
                                <small *ngIf="isValid('centro_mediacion_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.centro_mediacion_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('centro_mediacion_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="usuario_id" class="text font-medium">Seleccionar un usuario</label>
                                <p-dropdown id="usuario_id" [options]="elementosUsuariosCentro" optionLabel="value" optionValue="clave" formControlName="usuario_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('usuario_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.usuario_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('usuario_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="funcion_tramite_id" class="text font-medium">Funcion en el tramite</label>
                                <p-dropdown id="funcion_tramite_id" [options]="listFuncionTramite" optionLabel="funcion_tramite" optionValue="id_funcion_tramite" formControlName="funcion_tramite_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('funcion_tramite_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.funcion_tramite_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('funcion_tramite_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="detalles" class="text font-medium">Detalles</label>
                                <input type="text" pInputText id="detalles" formControlName="detalles" />
                                <small *ngIf="isValid('detalles')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.detalles" >
                                            <div  *ngIf="formaMediadorAsignado.get('detalles')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  FIN FORMULARIO TRAMITES -->
            </div>
        </ng-template>

        <ng-template pTemplate="footer" class="mt-1">
            <button pButton pRipple type="button" label="Guardar" class="p-button-outlined p-button-success mr-2 mb-2" (click)="submitFormUsuarioTramite()"></button>
            <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mr-2 mb-2" (click)="hideDialogUsuarioTramite()"></button>
        </ng-template>
    </p-dialog>

    <!-- FIN DIALOG FORMULARIO  USUARIOS -->

</div>

<!-- FIN CARD GENERAR AUDIENCIA -->

<!-- Card Usuarios -->
<div class="card p-fluid mb-0 mt-2">
    <p-toolbar styleClass="mb-3 bg-cyan-500">
        <h5 class="block text-white font-bold font-medium mb-1 ">
            Asignar el Tramite a un usuario
        </h5>
    </p-toolbar>

    <div class="col-12 border-bottom-1 surface-border">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="Asignar usuario" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialogUsuarioTramite()"></button>
                </div>
            </ng-template>

        </p-toolbar>
        <!-- TABLA DE USUARIOS-TRAMITE -->
        <p-table #dt1 [value]="listUsuariosTramite" [rows]="10" [loading]="loadingUsuariosTramite" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['usuario.dni','usuario.apellido','usuario.nombre','usuario.telefono','objeto.objeto','expediente']"
            responsiveLayout="scroll">

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            DNI
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Apellido - Nombre
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Sexo
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Fecha Asing
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Funcion
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Detalles
                        </div>
                    </th>
                    <th>
                        <div class="flex justify-content-between align-items-center">
                            Activo
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuariotramite>
                <tr>
                    <td>
                        <button type="button" pButton pRipple class="p-button-danger p-button-rounded mr-2 mb-2" icon="pi pi-times" (click)="confirmarDeshabilitarUsuario(usuariotramite)"></button>
                    </td>
                    <td style="min-width: 8rem;">
                        {{usuariotramite.usuario.dni}}
                    </td>
                    <td style="min-width: 20rem;">
                        {{usuariotramite.usuario.apellido}} {{usuariotramite.usuario.nombre}}
                    </td>
                    <td style="min-width: 7rem;">
                        {{usuariotramite.usuario.sexo.sexo}}
                    </td>
                    <td style="min-width: 10rem;">
                        {{usuariotramite.fecha_asignacion | date: 'dd/MM/yyyy'}}
                    </td>
                    <td style="min-width: 7rem;">
                        {{usuariotramite.funcion_tramite.funcion_tramite}}
                    </td>
                    <td style="min-width: 15rem;">
                        {{usuariotramite.detalles}}
                    </td>
                    <td style="min-width: 5rem;">
                        {{usuariotramite.activo}}
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontraron usuarios asignados.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando usuarios... .</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- FIN TABLA DE USUARIOS-TRAMITE -->
    </div>

    <!-- DIALOG FORMULARIO USUARIOS -->
    <!-- <p-dialog id="usuarioTramiteDialog" [(visible)]="usuarioTramiteDialog" [style]="{width: '500px'}" header="Asignar Usuario" [closable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}"></p-dialog> -->

    <p-dialog id="usuarioTramiteDialog" [(visible)]="usuarioTramiteDialog" [style]="{width: '500px'}" header="Asignar Usuario" [closable]="false" [modal]="true" [contentStyle]="{'overflow':'visible'}">
        <!-- MENSAJE DE ERROR -->
        <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
        <ng-template pTemplate="content">
            <div class="p-formgrid grid">
                <!-- FORMULARIO TRAMITES -->
                <div class="col-12">
                    <form [formGroup]="formaMediadorAsignado">
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="departamento_id_centro">Departamento</label>
                                <p-dropdown id="departamento_id_centro" [options]="listDepartamentos" optionLabel="departamento" optionValue="id_departamento" formControlName="departamento_id_centro" placeholder="Seleccionar..." (onChange)="onChangeDepartamentoParaCentros()">
                                </p-dropdown>
                                <small *ngIf="isValid('departamento_id_centro')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.departamento_id_centro" >
                                            <div  *ngIf="formaMediadorAsignado.get('departamento_id_centro')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="centro_mediacion_id">Centro Mediacion</label>
                                <p-dropdown id="centro_mediacion_id" [options]="elementosCentroMediacion" optionLabel="value" optionValue="clave" formControlName="centro_mediacion_id" placeholder="Seleccionar..." (onChange)="onChangeCentroMediacion()">
                                </p-dropdown>
                                <small *ngIf="isValid('centro_mediacion_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.centro_mediacion_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('centro_mediacion_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="usuario_id" class="text font-medium">Seleccionar un usuario</label>
                                <p-dropdown id="usuario_id" [options]="elementosUsuariosCentro" optionLabel="value" optionValue="clave" formControlName="usuario_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('usuario_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.usuario_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('usuario_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="funcion_tramite_id" class="text font-medium">Funcion en el tramite</label>
                                <p-dropdown id="funcion_tramite_id" [options]="listFuncionTramite" optionLabel="funcion_tramite" optionValue="id_funcion_tramite" formControlName="funcion_tramite_id" placeholder="Seleccionar...">
                                </p-dropdown>
                                <small *ngIf="isValid('funcion_tramite_id')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.funcion_tramite_id" >
                                            <div  *ngIf="formaMediadorAsignado.get('funcion_tramite_id')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <label for="detalles" class="text font-medium">Detalles</label>
                                <input type="text" pInputText id="detalles" formControlName="detalles" />
                                <small *ngIf="isValid('detalles')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.detalles" >
                                            <div  *ngIf="formaMediadorAsignado.get('detalles')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  FIN FORMULARIO TRAMITES -->
            </div>
        </ng-template>

        <ng-template pTemplate="footer" class="mt-1">
            <button pButton pRipple type="button" label="Guardar" class="p-button-outlined p-button-success mr-2 mb-2" (click)="submitFormUsuarioTramite()"></button>
            <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mr-2 mb-2" (click)="hideDialogUsuarioTramite()"></button>
        </ng-template>
    </p-dialog>

    <!-- FIN DIALOG FORMULARIO  USUARIOS -->

</div>

<!-- FIN Card Usuarios -->