.ui-dropdown-panel .ui-dropdown-items-wrapper {
    max-height: 200px; /* ajustar según sea necesario */
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .ui-dropdown-panel .ui-dropdown-items {
    overflow-x: auto;
  }
  
  .max-height-250 {
    max-height: 250px;
  }
  
  .w-47 {
  width: 47%;
  }

  .caja-2-5 {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  
  
  