.max-height-250 {
    max-height: 250px;
}

.custom-dialog2.p-dialog {
  width: 550px !important;
  min-height: 350px !important;
}

.w-47 {
  width: 47%;
}

.caja-2-5 {
  width: 2.5rem;
  height: 2.5rem;
}