// :host ::ng-deep .listbox1 {
//     width: 250px;
// }
  
// :host ::ng-deep .p-listbox-header {
//     color: white;
//     background-color: green;
//     font-size: 20px;
// }
  
// :host ::ng-deep .p-listbox-list {
//     border: 5px solid green;
// }
  
// :host ::ng-deep .listbox1 .p-listbox-item {
//     color: red;
//     font-weight: bold;
// }

:host ::ng-deep .listbox1 .p-listbox-item {
    //color: red;
    //font-weight: bold;
    border-bottom: 2px solid #D3D3D3;
}