<div class="grid">   
    <!-- CARD BUSQUEDA-->
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Buscar asignaciones de tramites</h5>
            <div class="p-formgrid grid">                
                <!-- FORMULARIO BUSCAR -->
                <div class="col-12">  
                    <form [formGroup]="formaBuscar">
                        <!-- CARD DATOS BUSQUEDA-->
                        <div class="card p-fluid">                            
                            
                            <div class="formgrid grid">
                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="fecha_ini">Fecha inicio</label>
                                    <p-calendar p-inputtext formControlName="fecha_ini" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar>
                                    <small *ngIf="isValid('fecha_ini')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.fecha_ini" >
                                            <div  *ngIf="formaBuscar.get('fecha_ini')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>

                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="fecha_fin">Fecha fin</label>
                                    <p-calendar p-inputtext formControlName="fecha_fin" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar>
                                    <small *ngIf="isValid('fecha_fin')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.fecha_fin" >
                                            <div  *ngIf="formaBuscar.get('fecha_fin')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>                            
                            </div>

                            <!-- boton buscar -->
                            <div  class="col-12 grid justify-content-between">
                                <button pButton pRipple type="button" label="Buscar" class="p-button-primary w-47" (click)="buscarTramites()" ></button>
                                
                            </div>
                        </div>
                        <!-- FIN CARD DATOS BUSQUEDA -->
                        
                    </form>
                </div>
                <!--  FIN FORMULARIO BUSCAR -->
                
            </div>
        </div>
    </div>
    <!-- FIN CARD BUSQUEDA..................................-->

    <!-- CARD TRAMITES ASIGNADOS..................................-->
    <div class="col-12">
        <div class="card">

            <h5>Tramites asignados</h5>

            <!-- TABLA DE TRAMITES -->
            <p-table #dt1 [value]="listUsuariosTramites" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['tramite.numero_tramite', 'tramite.expediente' ,'tramite.ciudadano.apellido','tramite.ciudadano.nombre','tramite.ciudadano.dni']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">                        
                        <div>
                            <button pButton label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-1" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                            </span>
                        </div>
                        <button pButton label="Descargar" icon="pi pi-download" class="p-button-success p-button-outlined mr-1" (click)="descargarTramitesExcel()"></button>
                
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="min-w-3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nº Tramite
                                <p-columnFilter type="text" field="tramite.numero_tramite" display="menu" placeholder="Buscar por tramite"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Apellido
                                <p-columnFilter type="text" field="tramite.ciudadano.apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre
                                <p-columnFilter type="text" field="tramite.ciudadano.nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                DNI solicitante
                                <p-columnFilter type="text" field="tramite.ciudadano.dni" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Objeto
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha tramite
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Expediente
                                <p-columnFilter type="text" field="tramite.expediente" display="menu" placeholder="Buscar por descripción"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha expediente
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha asignacion
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Usuario
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Funcion
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-asignacion>
                    <tr>
                        <td>
                            <button *ngIf="asignacion.tramite.estado_tramite_id==2" pButton pRipple type="button" icon="pi pi-folder-open text-orange-100" class="p-button-secondary p-button-rounded bg-orange-500 mr-1 mb-1" ></button>
                            <button *ngIf="asignacion.tramite.estado_tramite_id==3" pButton pRipple type="button" icon="pi pi-folder-open text-bluegray-100" class="p-button-secondary p-button-rounded bg-bluegray-500 mr-1 mb-1" ></button>
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.tramite.numero_tramite}}
                        </td>

                        <td class="min-w-15rem">
                            {{asignacion.tramite.ciudadano.apellido}}
                        </td>
                        <td class="min-w-15rem">
                            {{asignacion.tramite.ciudadano.nombre}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.tramite.ciudadano.dni }}
                        </td>
                        <td class="min-w-15rem">
                            {{asignacion.tramite.objeto.objeto}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.tramite.expediente}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.tramite.fecha_expediente| date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.fecha_asignacion| date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="min-w-15rem">
                            {{asignacion.usuario.apellido}} {{asignacion.usuario.nombre}}
                        </td>
                        <td class="min-w-10rem">
                            {{asignacion.funcion_tramite.funcion_tramite}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron tramites asignados.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando tramites... .</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- FIN TABLA DE TRAMITES -->

        </div>
    </div>
</div>
