<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Usuarios</h5>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openDialogUsuario()"></button>
                    </div>
                </ng-template>

            </p-toolbar>
            <!-- TABLA DE USUARIOS -->
            <p-table #dt1 [value]="listUsuarios" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['dni','sexo.sexo','apellido','nombre','telefono','email']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                DNI
                                <p-columnFilter type="text" field="dni" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Apellido
                                <p-columnFilter type="text" field="apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre
                                <p-columnFilter type="text" field="nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Sexo
                                <p-columnFilter field="sexo.sexo" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template pTemplate="header">
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Sexo</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="filtroSexo" (onChange)="filter($event.value)" placeholder="seleccionar" [showClear]="true">
                                            <ng-template let-option pTemplate="item">
                                                <span class="ml-2">{{option.label}}</span>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Telefono

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                E-mail                                
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td>
                            <button type="button" pButton pRipple class="p-button-rounded p-button-info mr-2 mb-2" icon="pi pi-eye" (click)="administrarUsuario(usuario)"></button>
                        </td>
                        <td style="min-width: 10rem;">
                            {{usuario.dni}}
                        </td>

                        <td style="min-width: 15rem;">
                            {{usuario.apellido}}
                        </td>
                        <td style="min-width: 15rem;">
                            {{usuario.nombre}}
                        </td>
                        <td style="min-width: 10rem;">
                            {{usuario.sexo.sexo}}
                        </td>
                        <td style="min-width: 10rem;">
                            {{usuario.telefono}}
                        </td>
                        <td style="min-width: 5rem;">
                            {{usuario.email}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron ciudadanos registrados.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando ciudadanos... .</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- FIN TABLA DE USUARIOS -->

            <!-- DIALOG FORMULARIO USUARIOS -->
            <p-dialog id="formUsuarioDialog" [(visible)]="usuarioDialog" [style]="{width: '500px'}" header="Nuevo Usuario" [closable]="false" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <!-- FORMULARIO USUARIO -->
                    <form [formGroup]="formaUsuario">
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="apellido">Apellido</label>
                                <input type="text" pInputText id="apellido" formControlName="apellido" />
                                <small *ngIf="isValid('apellido')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.apellido" >
                                        <div  *ngIf="formaUsuario.get('apellido')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="nombre">Nombre</label>
                                <input type="text" pInputText id="nombre" formControlName="nombre" />
                                <small *ngIf="isValid('nombre')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.nombre" >
                                        <div  *ngIf="formaUsuario.get('nombre')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="sexo_id">Sexo</label>
                                <p-dropdown id="sexo_id" [options]="listSexo" optionLabel="sexo" optionValue="id_sexo" formControlName="sexo_id" placeholder="Seleccionar...">
                                </p-dropdown>
                            </div>
                            <div class="field col">
                                <label for="telefono">Teléfono</label>
                                <input type="text" pInputText id="telefono" formControlName="telefono" />
                                <small *ngIf="isValid('telefono')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.telefono" >
                                        <div  *ngIf="formaUsuario.get('telefono')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="email">Correo electrónico</label>
                                <input type="text" pInputText id="email" formControlName="email" />
                                <small *ngIf="isValid('email')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.email" >
                                        <div  *ngIf="formaUsuario.get('email')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-6">
                                <label for="dni">DNI usuario</label>
                                <input type="text" pInputText id="dni" formControlName="dni" />
                                <small *ngIf="isValid('dni')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.dni" >
                                        <div  *ngIf="formaUsuario.get('dni')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col">
                                <div>
                                    <label for="clave1">Contraseña</label>
                                    <p-password id="clave1" formControlName="clave1" [feedback]="false" [toggleMask]="false" styleClass="p-password-info"></p-password>
                                </div>
                                <small *ngIf="isValid('clave1')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.clave1" >
                                        <div  *ngIf="formaUsuario.get('clave1')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="clave2">Confirmar contraseña</label>
                                <p-password formControlName="clave2" [feedback]="false" [toggleMask]="false"></p-password>
                                <small *ngIf="isValid('clave2')" class="p-error">
                                    <div *ngFor="let validation of user_validation_messages.clave2" >
                                        <div  *ngIf="formaUsuario.get('clave2')?.hasError(validation.type)">
                                            {{validation.message}}
                                        </div>
                                    </div>
                                </small>
                                <small *ngIf="!clavesValidationIguales" class="p-error">Las contraseñas no coinciden.</small>
                            </div>

                        </div>
                    </form>
                    <!--  FIN FORMULARIO USUARIO -->
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" label="Guardar" class="p-button-outlined p-button-success mr-2 mb-2" (click)="submitFormUsuario()"></button>
                    <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined p-button-danger mr-2 mb-2" (click)="hideDialogUsuario()"></button>
                </ng-template>
            </p-dialog>
            <!-- FIN DIALOG FORMULARIO  USUARIOS -->
        </div>

    </div>
</div>