<div class="grid">

    <div class="col-12">
        <div class="card">

            <h5>Tramites nuevos</h5>

            <!-- TABLA DE TRAMITES -->
            <p-table #dt1 [value]="listTramites" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['numero_tramite','ciudadano.apellido','ciudadano.nombre','ciudadano.dni']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button *ngIf="isCiudadano" pButton label="Solicitar tramite" icon="pi pi-plus" class="p-button-success mr-2" (click)="abrirNuevoTramite()"></button>
                        <div>
                            <button pButton label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-1" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                            </span>
                        </div>

                    </div>
                    
                </ng-template>
                <div class="p-formgrid grid">                
                        <!-- FORMULARIO BUSCAR -->
                        <div class="col-12">  
                            <form [formGroup]="">
                                <!-- CARD DATOS BUSQUEDA-->
                                <div class="card p-fluid">                            
                                    <div class="formgrid grid">
                                        

                                        <div  class="field col-12 md:col-6 lg:col-6">
                                            <label for="buscar">Buscar</label>
                                            <input type="text" pInputText id="buscar" formControlName="buscar" />
                                            <!-- <small *ngIf="isValid('buscar')" class="p-error">
                                                <div *ngFor="let validation of user_validation_messages.buscar" >
                                                    <div  *ngIf="formaBuscar.get('buscar')?.hasError(validation.type)">
                                                        {{validation.message}}
                                                    </div>
                                                </div>
                                            </small> -->
                                        </div>
                                        
                                    </div>

                                    <div  class="formgrid grid">
                                        <div class="field col-12 md:col-6 lg:col-6">
                                            <label for="fecha_ini">Fecha inicio</label>
                                            <!-- <p-calendar p-inputtext formControlName="fecha_ini" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar> -->
                                            <p-calendar p-inputtext formControlName="fecha_ini" dateFormat="dd/mm/yy" view="" styleClass="" ></p-calendar>
                                            <!-- <small *ngIf="isValid('fecha_ini')" class="p-error">
                                                <div *ngFor="let validation of user_validation_messages.fecha_ini" >
                                                    <div  *ngIf="formaBuscar.get('fecha_ini')?.hasError(validation.type)">
                                                        {{validation.message}}
                                                    </div>
                                                </div>
                                            </small> -->
                                        </div>



                                        <div class="field col-12 md:col-6 lg:col-6">
                                            <label for="fecha_fin">Fecha fin</label>
                                            <!-- <p-calendar p-inputtext formControlName="fecha_fin" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar> -->
                                            <p-calendar p-inputtext formControlName="fecha_fin" dateFormat="dd/mm/yy" view="" styleClass="" ></p-calendar>
                                            <!-- <small *ngIf="isValid('fecha_fin')" class="p-error">
                                                <div *ngFor="let validation of user_validation_messages.fecha_fin" >
                                                    <div  *ngIf="formaBuscar.get('fecha_fin')?.hasError(validation.type)">
                                                        {{validation.message}}
                                                    </div>
                                                </div>
                                            </small> -->
                                        </div>
                                        
                                    </div>

                                    <!-- boton buscar -->
                                    <div  class="col-12 grid justify-content-between">
                                        <!-- <button pButton pRipple type="button" label="Buscar" class="p-button-primary w-47" (click)="buscarTramites()" ></button> -->
                                        <button pButton pRipple type="button" label="Buscar" class="p-button-primary w-47"  ></button>
                                        
                                    </div>
                                </div>
                                <!-- FIN CARD DATOS BUSQUEDA -->
                                
                            </form>
                        </div>
                        <!--  FIN FORMULARIO BUSCAR -->
                        
                    </div>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="min-w-3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nº Tramite
                                <p-columnFilter type="text" field="numero_tramite" display="menu" placeholder="Buscar por tramite"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Apellido
                                <p-columnFilter type="text" field="ciudadano.apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre
                                <p-columnFilter type="text" field="ciudadano.nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                DNI solicitante
                                <p-columnFilter type="text" field="tramite.ciudadano.dni" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Objeto
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha tramite
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Centro Mediacion
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tramite>
                    <tr>
                        <td>
                            <button *ngIf="tramite.estado_tramite_id==1" pButton pRipple type="button" icon="pi pi-folder-open text-purple-100" class="p-button-secondary p-button-rounded bg-purple-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                        </td>
                        <td class="min-w-10rem">
                            {{tramite.numero_tramite}}
                        </td>

                        <td class="min-w-15rem">
                            {{tramite.ciudadano.apellido}}
                        </td>
                        <td class="min-w-15rem">
                            {{tramite.ciudadano.nombre}}
                        </td>
                        <td class="min-w-10rem">
                            {{tramite.ciudadano.dni}}
                        </td>
                        <td class="min-w-15rem">
                            {{tramite.objeto.objeto}}
                        </td>
                        <td class="min-w-5rem">
                            {{tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                        </td>                        
                        <td class="min-w-15rem">
                            {{tramite.centro_mediacion.centro_mediacion}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron tramites registrados.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando tramites... .</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- FIN TABLA DE TRAMITES -->

        </div>
    </div>
</div>