/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

/* Selector específico del overlay que genera el diálogo */
body .custom-dialog.p-dialog {
  width: 500px !important;
  min-height: 350px !important;
}

/* También afecta al contenedor interior */
body .custom-dialog .p-dialog-content {
  min-height: 250px !important;
}

/* Si querés que el contenedor padre no lo limite */
body .p-dialog-mask .p-dialog {
  max-width: 90vw;
}