<div class="grid">
    <div class="col-6 sm:col-6 lg:col-3 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium mb-3">Total</span>
                    <div class="text-900 font-medium text-xl">{{totalTramite}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-clone text-blue-500 text-xl"></i>
                </div>
            </div>

        </div>
    </div>    
    <div class="col-6 sm:col-6 lg:col-3 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium mb-3">Nuevos</span>
                    <div class="text-900 font-medium text-xl">{{totalesTramites.nuevos}}</div>

                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-bookmark text-purple-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 sm:col-6 lg:col-3 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium mb-3">Asignados</span>
                    <div class="text-900 font-medium text-xl">{{totalesTramites.asignados}}</div>

                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-send  text-orange-500 text-xl"></i>
                </div>

            </div>

        </div>
    </div>
    <div class="col-6 sm:col-6 lg:col-3 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-2">
                <div>
                    <span class="block text-500 font-medium mb-3">Finalizados</span>
                    <div class="text-900 font-medium text-xl">{{totalesTramites.finalizados}}</div>

                </div>
                <div class="flex align-items-center justify-content-center bg-bluegray-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw pi-check-square  text-bluegray-500 text-xl"></i>
                </div>

            </div>

        </div>
    </div>

    <!-- CARD BUSQUEDA-->
    <div class="col-12 xl:col-12">
        <div class="card">
            
            <div class="p-formgrid grid">                
                <!-- FORMULARIO BUSCAR -->
                <div class="col-12">  
                    <form [formGroup]="formaBuscar">
                        <!-- CARD DATOS BUSQUEDA-->
                        <div class="card p-fluid">                            
                            <div class="formgrid grid">
                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="id_tipo_busqueda">Tipo busqueda</label>
                                    <p-dropdown id="id_tipo_busqueda" [options]="listTiposBusqueda" optionLabel="tipo_busqueda" optionValue="id_tipo_busqueda" formControlName="id_tipo_busqueda" placeholder="Seleccionar..." (onChange)="onChangeTipoBusqueda()">
                                    </p-dropdown>
                                </div>

                                <div *ngIf="!isFecha" class="field col-12 md:col-6 lg:col-6">
                                    <label for="buscar">Buscar</label>
                                    <input type="text" pInputText id="buscar" formControlName="buscar" />
                                    <small *ngIf="isValid('buscar')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.buscar" >
                                            <div  *ngIf="formaBuscar.get('buscar')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>
                                
                            </div>

                            <div *ngIf="isFecha" class="formgrid grid">
                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="fecha_ini">Fecha inicio</label>
                                    <p-calendar p-inputtext formControlName="fecha_ini" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar>
                                    <small *ngIf="isValid('fecha_ini')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.fecha_ini" >
                                            <div  *ngIf="formaBuscar.get('fecha_ini')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>



                                <div class="field col-12 md:col-6 lg:col-6">
                                    <label for="fecha_fin">Fecha fin</label>
                                    <p-calendar p-inputtext formControlName="fecha_fin" dateFormat="dd/mm/yy" view="" styleClass="" [locale]="es"></p-calendar>
                                    <small *ngIf="isValid('fecha_fin')" class="p-error">
                                        <div *ngFor="let validation of user_validation_messages.fecha_fin" >
                                            <div  *ngIf="formaBuscar.get('fecha_fin')?.hasError(validation.type)">
                                                {{validation.message}}
                                            </div>
                                        </div>
                                    </small>
                                </div>
                                
                            </div>

                            <!-- boton buscar -->
                            <div  class="col-12 grid justify-content-between">
                                <button pButton pRipple type="button" label="Buscar" class="p-button-primary" style="width: 47%;" (click)="buscarTramites()" ></button>
                                
                            </div>
                        </div>
                        <!-- FIN CARD DATOS BUSQUEDA -->
                        
                    </form>
                </div>
                <!--  FIN FORMULARIO BUSCAR -->
                
            </div>
        </div>
    </div>
    <!-- FIN CARD BUSQUEDA..................................-->

    <div class="col-12">
        <div class="card">

            <h5>Tramites</h5>

            <!-- TABLA DE TRAMITES -->
            <p-table #dt1 [value]="listTramites" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-striped" [paginator]="true" [globalFilterFields]="['numero_tramite','ciudadano.apellido','ciudadano.nombre','dni_ciudadano','objeto.objeto','expediente']"
                responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        
                        <div>
                            <button pButton label="Limpiar" icon="pi pi-filter-slash" class="p-button-outlined mr-1" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar palabra" class="w-full"/>
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nº Tramite
                                <p-columnFilter type="text" field="numero_tramite" display="menu" placeholder="Buscar por tramite"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Apellido
                                <p-columnFilter type="text" field="ciudadano.apellido" display="menu" placeholder="Buscar por apellido"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre
                                <p-columnFilter type="text" field="ciudadano.nombre" display="menu" placeholder="Buscar por nombre"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                DNI solicitante
                                <p-columnFilter type="text" field="dni_ciudadano" display="menu" placeholder="Buscar por dni"></p-columnFilter>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Objeto
                                <p-columnFilter type="text" field="objeto.objeto" display="menu" placeholder="Buscar por objeto"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha tramite
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Expediente
                                <p-columnFilter type="text" field="expediente" display="menu" placeholder="Buscar por expediente"></p-columnFilter>

                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Fecha expediente
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tramite>
                    <tr>
                        <td>
                            <button *ngIf="tramite.estado_tramite_id==1" pButton pRipple type="button" icon="pi pi-folder-open text-purple-100" class="p-button-secondary p-button-rounded bg-purple-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                            <button *ngIf="tramite.estado_tramite_id==2" pButton pRipple type="button" icon="pi pi-folder-open text-orange-100" class="p-button-secondary p-button-rounded bg-orange-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>
                            <button *ngIf="tramite.estado_tramite_id==3" pButton pRipple type="button" icon="pi pi-folder-open text-bluegray-100" class="p-button-secondary p-button-rounded bg-bluegray-500 mr-1 mb-1" (click)="administrarTramite(tramite)"></button>

                        </td>
                        <td style="min-width: 10rem;">
                            {{tramite.numero_tramite}}
                        </td>

                        <td style="min-width: 15rem;">
                            {{tramite.ciudadano.apellido}}
                        </td>
                        <td style="min-width: 15rem;">
                            {{tramite.ciudadano.nombre}}
                        </td>
                        <td style="min-width: 10rem;">
                            {{tramite.ciudadano.dni}}
                        </td>
                        <td style="min-width: 15rem;">
                            {{tramite.objeto.objeto}}
                        </td>
                        <td style="min-width: 8rem;">
                            {{tramite.fecha_tramite| date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{tramite.expediente}}
                        </td>
                        <td style="min-width: 8rem;">
                            {{tramite.fecha_expediente| date: 'dd/MM/yyyy'}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No se encontraron tramites registrados.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="8">Cargando tramites... .</td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- FIN TABLA DE TRAMITES -->

        </div>
    </div>



</div>